[submodule "TrafficMonitor"]
	path = extern/TrafficMonitor
	url = https://github.com/zhongyang219/TrafficMonitor.git
[submodule "imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "SDL"]
	path = extern/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "imgui_toggle"]
	path = extern/imgui_toggle
	url = https://github.com/cmdwtf/imgui_toggle.git
