[submodule "TrafficMonitor"]
	path = extern/TrafficMonitor
	url = https://github.com/zhongyang219/TrafficMonitor.git
[submodule "makeheaders"]
	path = extern/makeheaders
	url = https://github.com/cassepipe/makeheaders.git
[submodule "imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
