#include <winver.h>
#include "config.hpp"

LANGUAGE  0, 0

#define RC_VERSION  CLOCKS_VERSION_MAJOR, CLOCKS_VERSION_MINOR, CLOCKS_VERSION_PATCH, 0

VS_VERSION_INFO VERSIONINFO
  FILEVERSION    RC_VERSION
  PRODUCTVERSION RC_VERSION
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904b0"
    {
      VALUE "CompanyName",        CLOCKS_AUTHOR "\0"
      VALUE "FileDescription",    CLOCKS_DESCRIPTION "\0"
      VALUE "FileVersion",        CLOCKS_VERSION "\0"
      VALUE "LegalCopyright",     CLOCKS_C_SYMBOL CLOCKS_COPYRIGHT "\0"
      VALUE "OriginalFilename",   "clocks.dll\0"
      VALUE "ProductName",        CLOCKS_NAME "\0"
      VALUE "ProductVersion",     CLOCKS_VERSION "\0"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409, 1200 , 0x080A, 1200
  }
}
